*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'montserrat';
}

.box{
    /* font-size: 30px; */
    padding: 0 40px;
    border: 2px solid #4e80;
    /* Con el tamaño dvh en el navegador no vamos a notar la diferencia, por el contrario si utilizamos pantallas más pequeñas si que lo notaremo. */
    height: 100dvh;
}

h2::first-letter{
    initial-letter: 3 1;
    padding: 2px;
    padding-bottom: 0;
    padding-left: 2px;
    color: #48e;
}