body{
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;
    text-align: center;
}

.contenedor{
    border: 2px solid #000;
    margin: 20px 80px;
    background-color: #ededed;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #db7;
    color: #fff;

}

.box--blue{
    background-color: #48e;
    position: absolute; /* Deja de ocupar un lugar en la pagina */
    top: 40px
}

.box--red{
    background-color: #e53;
    position: relative;
}