body{
    margin: 0;
    font-family: 'roboto';
}

div, body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column;
    /* flex-direction: column-reverse; */
    /* direction: ltr; */
    /* flex-wrap: wrap; */
    /* flex-flow: row nowrap; */
    flex-flow: row wrap;
    /* height: 100vh; */
    margin: 20px;
    border: 2px solid #000;
}

.flex-item{
    width: 180px;
    background-color: #911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.flex-item:first-child{
    background-color: #f77;
}

.flex-item:last-child{
    background-color: #000;
}