section .elemento1,
section .elemento2,
section .elemento3{
    color: red;
}
/* Modificando los elementos 1, 2 y 3 que estan dentro del section */
section :is(.elemento1, .elemento2, .elemento3){
    color: blue;
}

/* Si queremos que no cambie la especificidad, usamos where */

/* En el caso de que a un ul le siga un div modificamos el ul */
ul:has(div) {
    background-color: blue;
}

div{
    padding: 20px;
}

label{
    font-weight: bold;
}

label:has(input:valid){
    color: green;
}
label:has(input:invalid){
    color: red;
}