body {
  margin: 0;
  color: #444;
  font-family: sans-serif;
}

form {
  background-color: #ededed;
  padding: 10px 20px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 35px #0006;
  margin-top: 50px;
  border-radius: 6px;
}


input,
textarea, select {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 12px;
  border: none;
  border-left: 3px solid #999;
  box-shadow: 0 0 15px #0001;
  border-radius: 6px;
  margin: 6px 0;
}

fieldset{
  margin: 20px 0;
  border: 2px solid #ddd9;
  border-radius: 5px;
}

legend{
  padding: 0 6px;
  border: 1px solid #ddd6;
  background-color: #ddd6;
  color: #222;
}



