/* Con el simbolo del $ se aplica a los elementos que terminen en algo determinado */
img[src$="jpg" i]{
    width: 50%;
}
/* Con el simbolo ^ se aplica a los elementos que empiezen en algo determinado */
img[src^="sony" i]{
    width: 50%;
}

/* Selector descendente */

ul li {
    color: #555;
}
/* Selector por hijo directo */
li > em{
    color: red;
}

/* Selector de hermanos Adyacente */

h1 + p {
    color: blue;
}

/* Selector de hermanos generales */

h1 ~ p {
    color: blueviolet;
}

h1, p {
    color: gold;
}