body{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

div{
    font-family: sans-serif;
}

div{
    color: red;
}

h1{
    color: green;
}

h1{
    color: revert;
}
h1,p{
    font-family: inherit;
}